<div role="alert" id="ami_alert_content" style="top: 70px;"></div>

<div class="container-fluid mx-2">

	<h1 class="text-center">
		<i class="bi bi-display"></i> AMI Monitoring <span id="AF46CD08_34D4_E172_7426_8D528BD6BF2D"></span>
	</h1>

	<div role="main" id="ami_main_content"></div>

</div>
